.translationImage {
  width: 3em;
}

.container {
  display: flex;
  background-color: #e7b355;
  width: 100%;
  height: 25vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

.searchButton {
  max-width: 3em;
  color: #845ec2;
  float: right;
  margin-right: 1em;
}

.searchContainer {
  width: 75%;
  height: 3em;
  background-color: #efefef;
  border: 1px solid black;
  border-radius: 2em;
}

.searchInput {
  background-color: #efefef;
  width: 70%;
  height: 3em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  border: none;
}

.searchInput:focus {
  border: none;
  outline: none;
}

.keyboardIcon {
  max-width: 2.5em;
  float: left;
  margin-left: 0.5em;
  margin-top: 0.1em;
}

.signsContainer {
  width: 75%;
  border-radius: 2em;
  -webkit-box-shadow: 0px 0px 18px -4px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 18px -4px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 0px 18px -4px rgba(0, 0, 0, 0.39);
}

.translationContainer {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  height: 15em;
  width: 100%;
}
