.listElement {
  margin-top: 2em;
  list-style-type: none;
  width: 100%;
  border-radius: 2em;
  -webkit-box-shadow: 0px 0px 18px -4px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 0px 18px -4px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 0px 18px -4px rgba(0, 0, 0, 0.19);
}

.lastTranslationsImages {
  max-width: 2.5em;
}

.lastTranslationList {
  list-style-type: none;
}

.imagesContainer {
  display: block;
}

.listContainer {
  margin-top: 2em;
  justify-content: center;
  height: 15em;
  width: 70%;
}

ul {
  list-style-type: none;
  padding: 0;
}

.test {
  display: flex;
  width: 100%;
  height: 25vh;
  justify-content: center;
  align-items: center;
  position: relative;
}
