.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffc75f;
  border-bottom: 1px solid #82828253;
}

.navBarLogin {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}
.navBarProfile {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}

.navBarHome {
  display: block;
  color: aliceblue;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  font-family: LoveYaLikeASisterRegular;
}

.userEmail {
  float: left;
  background-color: #82828253;
  border-radius: 7px;
  padding: 0.1em 0.3em;
  margin-left: 1em;
  z-index: 0;
}
.profileIcon {
  width: 1em;
  height: 0.1em;
  z-index: 2;
}

a {
  text-decoration: none;
  color: white;
}

.logoImg {
  float: left;
  padding-left: 1em;
  padding-top: 0.5em;
  max-height: 1.5em;
  max-width: 2em;
}
